In [1]:
# Combine datasets
import pandas as pd

# Load datasets
airquality_df = pd.read_csv('luftkvalitet.csv')
traffic_df = pd.read_csv('trafikkdata.csv', sep=';')

In [2]:
airquality_df.describe(include='all')

,Fra-tid,Til-tid,Elgeseter PM10µg/m³,Elgeseter PM2.5µg/m³,Elgeseter NO2µg/m³
count,8761,8761,8761.000000,8761.000000,8761.000000
unique,8761,8761,NaN,NaN,NaN
top,30.09.2023 00:00,30.09.2023 01:00,NaN,NaN,NaN
freq,1,1,NaN,NaN,NaN
mean,NaN,NaN,12.755967,5.652262,16.531764
std,NaN,NaN,17.557762,5.645963,13.598096
min,NaN,NaN,0.000000,0.000000,0.000000
25%,NaN,NaN,3.760000,2.600000,6.500000
50%,NaN,NaN,8.400000,4.390000,12.870000
75%,NaN,NaN,14.700000,6.700000,22.500000
max,NaN,NaN,535.700000,64.700000,93.000000

In [3]:
traffic_df.describe(include='all')

              Dato Fra tidspunkt Til tidspunkt Trafikkmengde
count         8784          8784          8784          8784
unique         366            24            24          2108
top     2022-10-30         00:00         01:00            68
freq            25           366           366            37

In [11]:

airquality_df['Fra-tid'] = pd.to_datetime(airquality_df['Fra-tid'], format='%d.%m.%Y %H:%M')

airquality_df['Date'] = airquality_df['Fra-tid'].dt.date
airquality_df['Hour'] = airquality_df['Fra-tid'].dt.hour

airquality_df['Date'] = pd.to_datetime(airquality_df['Date'])

traffic_df['Date'] = pd.to_datetime(traffic_df['Dato'], format='%Y-%m-%d')
traffic_df['Hour'] = pd.to_datetime(traffic_df['Fra tidspunkt'], format='%H:%M').dt.hour

combined_df = pd.merge(airquality_df, traffic_df, on=['Date', 'Hour'], suffixes=('_airquality', '_traffic'))

combined_df['Year'] = combined_df['Date'].dt.year
combined_df['Month'] = combined_df['Date'].dt.month
combined_df['Day'] = combined_df['Date'].dt.day
combined_df = combined_df.drop(columns=['Fra-tid', 'Dato', 'Fra tidspunkt', 'Til-tid', 'Til tidspunkt', 'Date'])
combined_df.head()

,Elgeseter PM10µg/m³,Elgeseter PM2.5µg/m³,Elgeseter NO2µg/m³,Hour,Trafikkmengde,Year,Month,Day
0,13.2,5.6,25.89,0,179,2022,9,30
1,11.8,5.6,16.59,1,136,2022,9,30
2,10.1,6.0,15.17,2,82,2022,9,30
3,8.0,4.7,17.14,3,79,2022,9,30
4,8.5,5.1,25.88,4,67,2022,9,30

In [12]:
# Divided the combined dataset into two datasets train and test 0. 8 and 0.2

train_df = combined_df.sample(frac=0.8, random_state=0)
test_df = combined_df.drop(train_df.index)

train_df.to_csv('train.csv', index=False)
test_df.to_csv('test.csv', index=False)