In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:

data = pd.read_csv('trafikk.csv', sep=';', header=0)



data.head(20)

          Dato Fra tidspunkt Til tidspunkt Trafikkmengde
0   2022-09-30         00:00         01:00            78
1   2022-09-30         00:00         01:00            56
2   2022-09-30         00:00         01:00            25
3   2022-09-30         00:00         01:00            20
4   2022-09-30         00:00         01:00           103
5   2022-09-30         00:00         01:00            76
6   2022-09-30         00:00         01:00           179
7   2022-09-30         01:00         02:00            64
8   2022-09-30         01:00         02:00            41
9   2022-09-30         01:00         02:00            14
10  2022-09-30         01:00         02:00            17
11  2022-09-30         01:00         02:00            78
12  2022-09-30         01:00         02:00            58
13  2022-09-30         01:00         02:00           136
14  2022-09-30         02:00         03:00            31
15  2022-09-30         02:00         03:00            28
16  2022-09-30         02:00         03:00            11
17  2022-09-30         02:00         03:00            12
18  2022-09-30         02:00         03:00            42
19  2022-09-30         02:00         03:00            40

In [21]:
data = data.drop_duplicates(subset=['Dato', 'Fra tidspunkt', 'Til tidspunkt'], keep='last')

print(len(data))

data.head(24)

# write to csv
data.to_csv('trafikk1.csv', sep=';', index=False)

8784